@charset "UTF-8";
@font-face{
    font-family: "car";
    src: url(../font/font.woff);
}
@font-face{
    font-family: "iconfont";
    src: url(../font/font.woff);
}
//楼梯效果
.m-navlist{
    width:100px;
    position: fixed;
    right:50px;
    bottom:200px;
    color:#fff;
    list-style: none;
    font-size: 12px;
    text-align: center;
    display: none;
    a{
        display: block;
        width:100px;
        height:26px;
        color: rgb(255, 255, 255);
        background-color: rgb(240, 48, 72);
        border-bottom:1px solid #000;
        line-height:26px;
    }
    .topPart{
        display: block;
        width:100px;
        height:37px;
        line-height:37px;
        .u-iconfont{
            font-family: "car";
            font-size: 20px;
            font-style: normal;
            vertical-align: middle;
            &::before{
                content: "\e609";
            }
        }
    }
    .active{
        background-color: #B42436;
    }
    .bottomPart{
        height:45px;
        span{
            display: block;
            line-height: 20px;
            font-size: 28px;
            font-family: "iconfont";
        }
    }
}
//商品主体
.wrapMain{
    background: #fff;
    padding-bottom: 100px;
}
main{
    margin:auto;
    width:1000px;
}
.goods{
    width:100%;
    height:1490px;
    background-color: rgb(240, 240, 240);
    .title{
        color:#fff;
        width:100%;
        margin:10px 0;
        padding:0 5px;
        height:60px;
        line-height:60px;
        text-align: center;
        font-size: 28px;
        background-color: rgb(227, 20, 54);
    }
}