*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
font-face{
    font-family: "iconfont";
    src: url(../font/fontdetails.woff);
}
.top{
    height:120px;
    border-bottom: 1px solid #e8e8e8;
}
.wrap{
    height:600px;
    width:100%;
}
main{
    width:1090px;
    margin:0 auto;
    background-color: #fff;
    height:100%;
    font-size: 14px;
}
.wrapNav{
    padding:10px 20px;
    border-bottom: 1px solid #e8e8e8;
}
.topNavLeftLogin{
    display: none;
}
.j-producthead{
    color: #333;
    .PInfoWrap{
        margin: 20px 0 0;
        position: relative;
        z-index: 1;
        zoom: 1;
        .PImgBox{
            float: left;
            width: 402px;
            height: 488px;
            position: relative;
            z-index: 1000;
            .scrollBtn{
                display: inline-block;
                z-index: 1000;
                width: 33px;
                height: 62px;
                position: absolute;
                padding: 1px 0;
                margin: 0;
                border: 1px solid #eee;
                text-decoration: none;
                font-size: 38px;
                color: #666;
                line-height: 62px;
                text-align: center;
                background-color: #fff;
            }
            .scrollDis{
                color: #ddd;
            }
            .scrollleft{
                left: 0;
                top: 421px;
                font-family: "iconfont";
            }
            .scrollright{
                top: 421px;
                right: 0;
                font-family: "iconfont";
            }
            .litimg_box{
                position: absolute;
                height: 70px;
                overflow: hidden;
                top: 419px;
                left: 35px;
                width: 330px;
            }
            .showImgBox{
            
                border: 1px solid #eee;
                width: 400px;
                height: 400px;
                overflow: hidden;
                cursor: crosshair;
                img{
                    width: 400px;
                    height: 400px;
                }
                .shadow{
                    top:0;
                    left:0;
                    background-color: #000;
                    opacity: 0.3;
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    display: none;
                }
            }
            .showDetails{
                width: 400px;
                height: 400px;
                position: absolute;
                zoom: 1;
                z-index: 1001;
                top: 0px;
                left: 430px;
                overflow: hidden;
                border: #ededed 1px solid;
                display: none;
                background: #fff;
                .showImgBig{
                    position: absolute;
                    z-index: 1000;
                    width: 800px;
                    height: 800px;
                }
            }
        }
        .PInfo{
            position: relative;
            float: left;
            width: 658px;
            margin-left: 30px;
            color: #333;
            font-size: 12px;
            padding-top: 24px;
        }
    }
}
.litimg_box{
    .litimgUl{
        float: left;
        position: absolute;
        top:0;
        left:0;
        li{
            width: 70px;
            height: 70px;
            overflow: hidden;
            float: left;
            margin-right: 10px;
            a{
                display: inline-block;
                overflow: hidden;
                zoom: 1;
                height: 64px;
                width: 64px;
                border: 1px solid #eee;
                margin: 2px;
                img{
                    width: 64px;
                }
            }
        }
        .active{
            a{
                border-color: #e31436;
                border-width: 3px;
                margin: 0;
            }
        }
    }
}
.PInfo{
    .product-title{
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
    }
    .subTit{
        margin-bottom: 11px;
        line-height: 20px;
        font-size: 13px;
    }
    .m-price-wrap{
        background-color: #f9f9f9;
        z-index: 22;
        border-bottom: 1px dotted #ddd;
        padding-bottom: 4px;
        float: left;
        width:100%;
        .m-line-title{ 
            font-size: 12px;
            float: left;
            line-height: 26px;
            margin: 8px 0;
            margin-left: 10px;
            width: 75px;
            color: #666;
        }
        .m-price-cnt{
            float: left;
            margin-top: 8px;
            .currentPrice{
                font-size: 26px;
                color: #e31436;
                font-weight: bold;
                vertical-align: baseline;
                line-height: 1;
                margin: 8px 0;
            }
            .addprice{
                font-size: 12px;
                color: #999;
                margin-left: 14px;
                margin-bottom: 8px;
            }
        }
    }
    .m-buyBox{
        float: left;
        width: 100%;
        .m-line-title {
            margin-top:50px;
            margin-left: 10px;
            font-size: 12px;
            height: 24px;
            line-height: 24px;
            display: inline-block;
            width: 75px;
            color: #666;
        }
        .ctrnum-wrap{
            display: inline-block;
            border: 1px solid #ccc;
            text-align: center;
            .ctrnum-b{
                display: inline-block;
                width: 22px;
                height: 22px;
                line-height: 22px;
                font-size: 14px;
                color:#333;
            }
            .ctrnum-b-dis{
                cursor: default;
            }
            .ctrnum-qty{
                width: 38px;
                padding: 4px 5px;
                margin: 0;
                line-height: 1;
                height: 14px;
                font-size: 14px;
                text-align: center;
                color: #333;
                border: none;
                border-left: 1px solid #ccc ;
                border-right:1px solid #ccc ;
                box-sizing: content-box;
                outline: none;
            }
        }
    }
    .buyBtns{
        float: left;
        position: relative;
        margin-top:50px;
        #addCart{
            display: inline-block;
            margin-right: 20px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            width: 180px;
            height: 50px;
            line-height: 50px;
            color: #fff;
            background-color: #e31436;
        }
    }
}
.tocar{
    display: block;
    width: 62px;
    height: 48px;
    padding: 12px 0 0;
    border: 1px solid #eaeaea;
    background: #fff;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    position: fixed;
    right:100px;
    top:175px;
    color:#333;
    .right-bar-icon{
        display: block;
        margin-left: 20px;
        height:20px;
        width: 20px;
        background: url(../img/car.png);
    }
}
#showImgBox1{
    img{
        width:100%;
        height:100%;
    }
}