@charset "UTF-8";
*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
@import "header";
@import "title";
@import "nav";
@import "slideshow";
@import "advertising";
@import "main";
@import "leg";
@import "footer";
@import "goodslist";